extends ./layout.jade

block content
	.container
		h3 Please Login
		if(unauthorized)
			div.alert.alert-danger #{message}, Please Try Again !
		form(role="form", action="/login", method="post")
			div.form-group
				label Username:
				input.form-control(type="text", placeholder="Enter Username", name="username", autofocus="", required)
			div.form-group
				label Password:
				input.form-control(type="password", placeholder="Enter Password", name="password", required)
			div.btn-group
				button.btn.btn-primary(type="submit") Login
				button.btn.btn-default(type="button", onClick="window.location='/register'") Register