extends ./layout.jade

block content
	.container
		h3 Please Register
		if(unauthorized)
			div.alert.alert-danger #{message}, Please Try Again !
		form(role="form", action="/register", method="post")
			div.form-group
				label Name:
				input.form-control(type="text", placeholder="Enter Name", name="name", autofocus="", required)
			div.form-group
				label Email:
				input.form-control(type="email", placeholder="Enter Email", name="email", required)
			div.form-group
				label Username:
				input.form-control(type="text", placeholder="Enter Username", name="username", required)
			div.form-group
				label Password:
				input.form-control(type="password", placeholder="Enter Password", name="password", required, pattern=".{8,}", title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters")
			div.btn-group
				button.btn.btn-default(onClick="window.location='/login'") Login
				button.btn.btn-primary(type="submit") Register